<?xml version="1.0" encoding="utf-8"?>
<Containers>
  <Container Key="-1592402827">
    <Items>
      <Item Id="{ab1d3930-cb17-4cc2-bcd2-35a30a0a6583}">
        <Id>1</Id>
        <File>DXTicketBase\MyViewModel.cs</File>
        <Line>307</Line>
        <Character>25</Character>
      </Item>
    </Items>
  </Container>
</Containers>