<?xml version="1.0" encoding="utf-8"?>
<Containers>
  <Container Key="-1592402827">
    <Items>
      <Item Id="{eb247c62-2ce9-42ac-83a2-176e6fb00b63}">
        <Id>1</Id>
        <File>DXTicketBase\MyViewModel.cs</File>
        <Line>307</Line>
        <Character>25</Character>
      </Item>
    </Items>
  </Container>
</Containers>